* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://thumbs.dreamstime.com/z/human-brain-blue-background-concept-intelligence-83522428.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.quiz-question {
    margin-bottom: 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 1000px; /* Increase the width */
    height: 20px; /* Increase the height */
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz-option {
    padding: 10px;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-option:hover {
    background-color: #ddd;
}

.correct {
    background-color: #28a745 !important; /* Green */
    color: #fff;
}

.incorrect {
    background-color: #dc3545 !important; /* Red */
    color: #fff;
}

.explanation {
    margin-top: 20px;
    font-style: italic;
    color: #fff;
    text-align: center;
    width: 80%;
}

/* Responsive Design */
@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }

    .btn, .quiz-option {
        font-size: 1rem;
        padding: 8px 16px;
    }
}
